.home {
  background-color: #696969;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}
.nav {
  display: flex;
  flex-grow: 1;
  background-color: #696969;
  position: sticky;
  top: 0px;
  height: 100vh;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  max-width: 300px;
  min-width: 130px;
}
.nav-logo {
  width: 60%;
  object-fit: cover;
}

.nav-logo:hover {
  cursor: pointer;
  
}
.nav .nav-content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
}

.nav-unorderlist {
    list-style-type: none;
    padding: 0;
    margin: 40% 0 0 0;
    width: 100%;
  }

.nav-item {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: x-large;
  font-family: serif;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.section {
  height: 100vh;
  display: flex;
  overflow:hidden;
}

.section-dark {
  background: #333;
  color: white;
  height: 100vh;
  display: flex;
  overflow:hidden;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-image: url("back2.jpg");
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-blend-mode: color-burn;
  /* background-repeat: no-repeat; */
}

.logo{
  opacity: 1;
  transition: all 0.05s ease-in-out 0s;
}
.card-root{
  max-width: 345px;
    height: 50%;
}

.card-media{
  height: 140px;
}
